<div class="flex flex-col p-4 gap-2 border border-black rounded-md bg-white">
    <h2 class="flex mb-2">New Acount</h2>
    <input [(ngModel)]="title" class="bg-slate-200 px-2 border border-black rounded-md" type="text" placeholder="entrer neuveau titre">
    <input [(ngModel)]="status" class="bg-slate-200 px-2 border border-black rounded-md" type="text" placeholder="entrer neuveau status">
    <button (click)="creatNewAcount()" class="border border-gray-500 px-4 py-1 rounded-lg hover:bg-slate-300">creat new acount</button>
</div>